@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 37 86% 92%; /* #fcedd5*/
    --foreground: 181 100% 29%;

    --card: 37 86% 92%;
    --card-foreground: 181 100% 29%;

    --popover: 37 86% 92%;
    --popover-foreground: 181 100% 29%;

    --primary: 37 86% 92%; /* #eea32b */
    --primary-foreground: 210 40% 98%;

    --secondary: 208 54% 22%;
    --secondary-foreground: 37 85% 55%;

    --muted: 208 54% 22%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 208 54% 22%; /* #1a3a56*/
    --accent-foreground: 37 85% 55%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 240 3% 13%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 240 3% 13%;
    --foreground: 37 85% 55%;

    --card: 208 54% 22%;
    --card-foreground: 37 85% 55%;

    --popover: 240 3% 13%;
    --popover-foreground: 37 85% 55%;

    --primary: 37 85% 55%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 37 85% 55%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 37 85% 55%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 37 85% 55%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
